* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  color: #969696;
  background-color: #1b1c25;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: auto;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #969696;
}

button {
  padding: 12px 28px;
  border: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  -webkit-box-shadow: 0 0 8px #cdb30c;
          box-shadow: 0 0 8px #cdb30c;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1c25;
  z-index: 3;
}

.navbar {
  position: relative;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info span {
  padding: 0 15px;
}

.navbar__info span:first-child {
  padding: 0;
}

.navbar__info span:last-child {
  padding-right: 0;
}

.navbar__image {
  width: 20px;
  height: 20px;
}

.navbar__image img {
  width: 100%;
  height: 100%;
}

.navbar__work {
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.navbar__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__reg span {
  margin: 0 5px;
}

.navbar__reg span:first-child {
  margin-left: 0;
}

.navbar-bottom {
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  font-family: 'Cinzel', serif;
  font-size: 34px;
  text-transform: uppercase;
  z-index: 4;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  padding: 18px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__link:hover {
  background-color: #424242;
  color: #ffffff;
}

.navbar__icon {
  padding: 0 20px;
}

.navbar__icon:last-child {
  padding-right: 0;
}

.navbar__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar__burger {
  display: none;
}

.section {
  margin-top: 100px;
  min-height: 100vh;
  position: relative;
}

.section:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  z-index: -1;
}

.wrapper {
  padding-top: 160px;
  min-height: 100vh;
  width: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 68px;
  border: 4px dashed #FFFFFF;
  margin-bottom: 80px;
}

.content__logo {
  border-bottom: 2px solid #ffffff;
  text-align: center;
}

.content__link {
  font-family: 'Cinzel', serif;
  font-size: 54px;
  text-transform: uppercase;
  color: #ffffff;
}

.content__city {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 730px;
}

.collections {
  padding: 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.season {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.season__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.season__span {
  width: 120px;
  height: 1px;
  border: 1px solid #d54062;
  margin-bottom: 50px;
}

.season__items {
  width: 100%;
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.season__items-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.season__items-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 0;
  left: 0;
}

.season__items-button--next {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}

.season__items-button--prev {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}

.season__item {
  background-color: #191B1C;
  margin: 0 20px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.season__item:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.season__image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.season__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.season__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.season__price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: relative;
}

.collection__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  background: black;
  opacity: 0.5;
  z-index: -1;
}

.collection__title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.collection__span {
  width: 120px;
  height: 1px;
  border: 1px solid #d54062;
  margin-bottom: 30px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-left {
  width: 50%;
  max-height: 500px;
}

.new-left__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: black;
  opacity: 0.5;
}

.new-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.new__text {
  width: 50%;
  text-align: center;
  margin-bottom: 60px;
  line-height: 150%;
  color: #ffffff;
}

.new__span {
  width: 120px;
  height: 1px;
  border: 1px solid #d54062;
  margin-bottom: 30px;
}

.arrivals {
  padding: 75px 0;
}

.arrivals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrivals__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.arrivals__span {
  width: 120px;
  height: 1px;
  border: 1px solid #d54062;
  margin-bottom: 70px;
}

.arrivals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arrivals__item {
  background-color: #191B1C;
  margin: 0 20px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
}

.arrivals__item:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.arrivals__image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.arrivals__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrivals__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.arrivals__price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.brand {
  background-color: #0F0F0F;
  padding: 75px 0;
}

.brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.brand__span {
  width: 120px;
  height: 1px;
  border: 1px solid #d54062;
  margin-bottom: 30px;
}

.brand__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand__item {
  width: 250px;
}

.brand__item img {
  width: 100%;
  height: 100%;
}

.brand__item:first-child {
  margin-left: 0;
}

.brand__item:last-child {
  margin-right: 0;
}

.footer {
  padding-top: 100px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.footer__item {
  -webkit-box-flex: 33.333;
      -ms-flex: 33.333;
          flex: 33.333;
  margin: 0 10px;
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.footer__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__tag {
  color: #ffffff;
  padding: 10px 20px;
  background: #221c1c;
  margin: 10px 0;
}

.footer__input {
  border: none;
  outline: none;
  padding: 13px;
}

.footer__input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.footer__button {
  right: 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info a {
  color: #ffffff;
}

@media (max-width: 992px) {
  .wrapper {
    padding-top: 100px;
  }
  .content__name {
    padding: 70px;
  }
  .season__item {
    margin: 0 10px;
  }
  .collections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .season {
    width: 100%;
  }
  .season__items {
    min-height: 340px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
  }
  .collection {
    width: 100%;
    min-height: 300px;
  }
  .new__text {
    width: 80%;
  }
  .footer {
    padding-top: 50px;
  }
  .footer__content {
    display: block;
  }
  .footer__item {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header:before {
    z-index: 4;
  }
  .section {
    margin-top: 68px;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .navbar__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar__burger::before, .navbar__burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar__burger::before {
    top: 0;
  }
  .navbar__burger::after {
    bottom: 0;
  }
  .navbar .open span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar .open::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .navbar .open::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .navbar-top {
    z-index: 4;
    padding: 5px 0;
  }
  .navbar-bottom {
    padding: 0;
  }
  .navbar__work, .navbar__phone {
    display: none;
  }
  .navbar__links {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262734;
    display: block;
    padding-top: 80px;
    padding-left: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
  }
  .navbar .open {
    top: 0;
  }
  .navbar__link {
    font-size: 20px;
    padding: 0;
  }
  .navbar__list {
    margin: 20px 0;
  }
  .navbar__icon {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    margin: 20px 0;
  }
  .navbar__ul {
    display: block;
  }
  .content__name {
    margin-bottom: 50px;
  }
  .content__text {
    font-size: 14px;
  }
  .new {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new-left {
    height: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .new-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .new__title {
    font-size: 30px;
  }
  .new__text {
    margin-bottom: 40px;
  }
  .arrivals {
    padding: 50px 0;
  }
  .arrivals__item {
    padding: 10px;
    margin: 0 10px;
  }
  .brand {
    padding: 50px 0;
  }
  .brand__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 520px) {
  .brand__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .arrivals {
    padding: 30px 0;
  }
  .arrivals__title {
    font-size: 30px;
  }
  .arrivals__span {
    margin-bottom: 30px;
  }
  .arrivals__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .content__name {
    padding: 50px;
  }
}

@media (max-width: 360px) {
  .navbar__time {
    display: none;
  }
  .wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .content__text {
    text-align: justify;
  }
  .content__name {
    padding: 30px;
  }
  .season__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .new__text {
    width: 90%;
    text-align: justify;
  }
  .brand__title {
    font-size: 30px;
  }
  .footer__input {
    width: 60%;
  }
  .footer__info {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */